
<section class="dashboard-details">
  <h2>Store Stats</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Total No of Products</th>
        <th>Number of Categories</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= @products.count %></td>
          <td><%= @categories.count %></td>
        </tr>
    </tbody>
  </table>
  <%= link_to "See all Products", "/admin/products",  class: 'btn btn-lg btn-primary' %>
</section>
