<section class="about-us">
  <h1>About Us</h1>
  <p>Our mission is to provide the best products at the best prices. Find all the amazing products at affordable prices. If you found a cheaper price elsewhere, we can match the price✔👌</p>

  <div class="team-container">
    <h2>Our Team</h2>
    <div class="team">    
    <div class="member">
    <img src="https://ca.slack-edge.com/T02MD9XTF-U02M4JZ8Z-0b5e8f6d7b4d-512" alt="member">
    <h3>Yunus Emre Aybey</h3>
    <p>Backend Developer</p>
  </div>
  <div class="member">
    <img src="https://ca.slack-edge.com/T02MD9XTF-U02M4JZ8Z-0b5e8f6d7b4d-512" alt="member">
    <h3>Akoms Eroms</h3>
    <p>Frontend Developer</p>
  </div>
  <div class="member">
    <img src="https://ca.slack-edge.com/T02MD9XTF-U02M4JZ8Z-0b5e8f6d7b4d-512" alt="member">
    <h3>Saratu Ismaila</h3>
    <p>Lead Developer</p>
  </div>
  </div>
  </div>
   <div class="header-container">
   <h2>Our Story</h2>
   <p>Our story begins with a simple idea: to make shopping easier and more fun. We've always believed in the power and potential of technology to improve people's lives. And over the years, we've worked hard to build an experience that does just that. We're here to help you find your perfect product.</p>
 
   <h2>Our Values</h2>
   <p>Our values are the foundation of our company. They guide our actions and behavior. They influence the way we work with each other – and the way we serve our clients and engage with our communities. We believe in acting with integrity. We believe in treating each other with respect and dignity. We believe in our people.</p>
 
   <h2>Our Culture</h2>
   <p>Our culture is the foundation of our company. It’s what makes us unique. It’s what makes us different. It’s what makes us special. It’s what makes us who we are.</p>
   </div>
  

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
</section>
